{{!-- Carte de Phénomène psychique / Péril du Warp --}}
<div class="brigandyne-40k chat-card warp-card {{#if peril}}peril{{/if}}">
  <header class="card-header">
    <h3 class="card-title"><i class="fa-solid fa-skull-crossbones"></i> {{title}}</h3>
  </header>
  <div class="card-result">
    <span class="roll-total">{{roll}}</span>
    <span class="roll-vs">{{name}}</span>
  </div>
  <div class="card-meta">
    <div class="meta-line"><span class="meta-value">{{effect}}</span></div>
  </div>
</div>
